
  body{
    font-family: 'Montserrat', sans-serif;
    background-image : url("background.jpg");
    background-repeat: no-repeat;

  }

  header{
    font-family: 'Quicksand', sans-serif;
    color: #e9b000;
    height: 100px;
  }

#link{
  color: white;
  text-decoration: none;
  background-color: red;
}
a:link, a:visited{
  text-decoration: none;
}

#findflights{
  float:right;
}

  .display{
    background-color: white;
     flex: 1 1 auto;
    width: 50%;
    border: 1.5px solid gray;
    text-align: center;
    margin: 0 auto;
    padding: 100px;
  }


  #preferences{
    margin-top: 100px;
  }
  #airplane{
    float: right;
  }

  .submitbutton {
  margin-right: 10px;
  width: 100px;
  background: #e9b000;
  border-bottom: #d4744a 3px solid;
  border-left: #d4744a 1px solid;
  border-right: #d4744a 1px solid;
  border-radius: 6px;
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 12px;
  font-weight: 800;
}

.submitbutton:hover {
  opacity: 0.8;
}

.submitbutton:active {
  width: 100px;
  background: #d4744a;
  border-bottom: #d4744a 1px solid;
  border-left: #d4744a 1px solid;
  border-right: #d4744a 1px solid;
  border-radius: 6px;
  text-align: center;
  color: white;
  padding: 10px;
  margin-top: 3px;
}



#elementsOfHeader{
  float: right;
}

#prefpageslogan{
  font-size: 100px;
  float: right;
  position: relative;
  bottom: 70px;
  right: 40px;
}
